.color {
	margin-left: 0px;
}

.color-main {
	/* color: rgb(239, 234, 255); */
	background-color: rgb(255, 254, 221);
}

.color-main1 {
	/* color: rgb(239, 234, 255); */
	background-color: rgb(239, 234, 255);
}

.color-main2 {
	/* color: rgb(239, 234, 255); */
	background-color: rgb(214, 247, 255);
}

.color-main3 {
	/* color: rgb(239, 234, 255); */
	background-color: rgb(218, 255, 241);
}

.color-main4 {
	/* color: rgb(239, 234, 255); */
	background-color: rgb(246, 211, 255);
}